# Database Configuration
DATABASE_NAME=lab02_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=root

# Spring JPA Configuration
SPRING_JPA_HIBERNATE_DDL=create-drop
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_APPLICATION_NAME=lab02-app
